:root {
  --primary-color: white;
  --secondary-color: black;
  --content-background-color: #E3E6E6;
  --header-background-color: #232f3e;
  --button-color: #f36808;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

.App {
  text-align: center;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "content";
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.App-header {
  grid-area: header;
  background-color: var(--header-background-color);
  color: var(--primary-color);
  padding: 10px;
  gap: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.App-content {
  grid-area: content;
  background-color: var(--content-background-color);
  color: var(--secondary-color);
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  box-sizing: content-box;
}

.Menu-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.Logo-button {
  height: 30px;
  cursor: pointer;
}

.Menu-bar-button {
  height: 30px;
  width: 80px;
  padding: 0 10px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--button-color);
  color: var(--primary-color);
  border: 1px solid var(--header-background-color);
  border-radius: 20px;
}

.Submit-button {
  height: auto;
  width: 100px;
  padding: 0 10px;
  font-size: 15px;
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--button-color);
  color: var(--primary-color);
  border: 1px solid var(--header-background-color);
  border-radius: 20px;
  margin: 0 auto; /* Center the button horizontally */
}

.Menu-bar-button:hover {
  border: 1px solid var(--primary-color);
}

.Menu-bar-button-disabled {
  height: 30px;
  padding: 0 10px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--button-color);
  color: var(--primary-color);
  border: 1px solid var(--header-background-color);
  border-radius: 20px;
  opacity: 0.5;
}

.Menu-bar-button-disabled:hover {
  border: 1px solid var(--header-background-color);
}

.Products-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.Card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 20px;
  width: 400px;
  min-height: 70px;
}

.Card-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}

.Card-actions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.Card-name {
  display: flex;
  font-size: 16px;
  font-weight: bold;
}

.Card-price {
  font-size: 20px;
  color: red;
}

.Card-button {
  height: 30px;
  width: 80px;
  padding: 0 10px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--button-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 15px;
}

.Card-button:hover {
  border: 1px solid var(--secondary-color);
}

.Product-site {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  display: grid;
  grid-template-columns: 4fr minmax(220px, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "left right";
  padding: 10px 0;
  max-width: 1000px;
}

.Product-site-left {
  grid-area: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.Product-site-right {
  grid-area: right;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-left: 1px solid var(--secondary-color);
}

.Product-name {
  font-size: 30px;
  font-weight: bold;
}

.Product-description {
  font-size: 20px;
}

.Product-price {
  font-size: 30px;
  color: red;
}

.Product-button {
  height: 40px;
  width: 100px;
  padding: 0 15px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: var(--button-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 20px;
}

.Product-button:hover {
  border: 1px solid var(--secondary-color);
}

.Product-button-disabled {
  height: 40px;
  padding: 0 15px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--button-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 20px;
  opacity: 0.5;
}

.Product-button-disabled:hover {
  border: 1px solid var(--primary-color);
}

.Container-with-description {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
